<!DOCTYPE html>
<html lang="en">

    <head th:replace="/layout/head :: head_content">
    </head>

    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar -->
            <ul th:replace="/layout/sidebar :: sidebar_content">
            </ul>
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->
                    <nav th:replace="/layout/header :: header_sbadmin">
                    </nav>
                    <!-- End of Topbar -->

                    <!-- Begin Page Content -->
                    <div class="container-fluid">

                        <!-- Page Heading -->
                        <h1 class="h3 mb-2 text-gray-800">Departments</h1>
                        <p class="mb-4">Departments berisi data dari tabel "Departments" dari database "hr".</p>

                        <!-- DataTales Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <div class="row">
                                    <div class="col-6 pt-2">
                                        <span class="font-weight-bold text-primary">Departments table</span>
                                    </div>
                                    <div class="col-6">
                                        <button class="btn btn-success float-right"
                                                th:onclick="getFormData(null,null,null,null,'add')"
                                                data-toggle="modal" data-target="#departmentModal">
                                            <i class="fas fa-plus"></i>
                                            New Department
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Manager</th>
                                                <th>Location</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Manager</th>
                                                <th>Location</th>
                                                <th>Actions</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <tr th:each="department:${departments}">
                                                <td th:text="${department.id}"></td>
                                                <td th:text="${department.name}"></td>
                                                <td th:text="${department.manager}"></td>
                                                <td th:text="${department.location}"></td>
                                                <td>
                                                    <button class="btn btn-primary mr-1" 
                                                            th:data='${department}'
                                                            th:id='${department.id}'
                                                            th:name='${department.name}'
                                                            th:managerId='${department.managerId}'
                                                            th:locationId='${department.locationId}'
                                                            th:onclick="getFormData(this.getAttribute('id'), 
                                                            this.getAttribute('name'), 
                                                            this.getAttribute('managerId'), 
                                                            this.getAttribute('locationId'), 
                                                            'detail')"
                                                            data-toggle="modal" data-target="#departmentModal">
                                                        <i class="fas fa-eye"></i>
                                                    </button>
                                                    <button class="btn btn-success mr-2" 
                                                            th:id='${department.id}'
                                                            th:name='${department.name}'
                                                            th:managerId='${department.managerId}'
                                                            th:locationId='${department.locationId}'
                                                            th:onclick="getFormData(this.getAttribute('id'), 
                                                            this.getAttribute('name'), 
                                                            this.getAttribute('managerId'), 
                                                            this.getAttribute('locationId'), 
                                                            'edit')"
                                                            data-toggle="modal" data-target="#departmentModal">
                                                        <i class="fas fa-edit"></i>
                                                    </button>
                                                    <button class="btn btn-danger" 
                                                            th:id='${department.id}'
                                                            th:name='${department.name}'
                                                            th:onclick="deleteData(
                                                            this.getAttribute('id'),
                                                            this.getAttribute('name')
                                                            )">
                                                        <i class="fas fa-trash"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <footer th:replace="/layout/footer :: footer_sbadmin"
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    <!-- Department Modal-->
    <div class="modal fade" id="departmentModal" tabindex="-1" role="dialog" aria-labelledby="departmentModalTitle"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="departmentModalTitle">Department Form</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form onsubmit="submitForm()" id="department-form" class="needs-validation mx-4" novalidate>
                        <div class="form-group">
                            <label for="id" class="required">ID</label>
                            <input type="number" class ="form-control" name="id" id="id" placeholder="Enter department id" required>
                            <div class="invalid-feedback">Please enter the department id</div>
                        </div>

                        <div class="form-group">
                            <label for="name" class="required">Name</label>
                            <input type="text" class ="form-control" name="name" id="name" placeholder="Enter department name" required>
                            <div class="invalid-feedback">Please enter the department name</div>
                        </div>

                        <div class="form-group">
                            <label for="manager">Manager ID</label>
                            <input type="number" class ="form-control" name="manager" id="manager" placeholder="Enter manager id">
                        </div>

                        <div class="form-group">
                            <label for="location" class="required">Location ID</label>
                            <input type="number" class ="form-control" name="location" id="location" placeholder="Enter location id" required>
                            <div class="invalid-feedback">Please enter department's location ID</div>
                        </div>

                        <div id="action-button" class="form-group text-right pt-4 border-top">
                            <button class="btn btn-primary" type="submit">Submit</button>
                            <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div th:replace='/layout/modal :: logout_modal'></div>



    <script src="/js/department/department.js"></script>

</body>

</html>