<div  th:fragment="table" class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Departments</h1>
    <p class="mb-4">Departments berisi data dari tabel "Departments" dari database "hr".</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-6 pt-2">
                    <span class="font-weight-bold text-primary">Departments table</span>
                </div>
                <div class="col-6">
                    <button class="btn btn-success float-right"
                            id="addRow"
                            data-toggle="modal" data-target="#departmentModal">
                        <i class="fas fa-plus"></i>
                        New Department
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="departmentTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Manager ID</th>
                            <th>Manager</th>
                            <th>Location ID</th>
                            <th>Location</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <!--                                        <tfoot>
                                                                <tr>
                                                                    <th>ID</th>
                                                                    <th>Name</th>
                                                                    <th>Manager</th>
                                                                    <th>Location</th>
                                                                    <th>Actions</th>
                                                                </tr>
                                                            </tfoot>-->
                </table>
            </div>
        </div>
    </div>

</div>