<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Departments</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div style="border: solid 1px; padding: 20px; float: left">
            <h3>Post</h3>
            <form action="modify/post" method="post">
                <div>
                    <div>
                        <label for="id">Id:</label>  
                    </div>
                    <div>
                        <input type="text" id="id" name="id"/>               
                    </div>
                </div>

                <br/>
                <div>
                    <div>
                        <label for="name">Name:</label>  
                    </div>
                    <div>
                        <input type="text" id="name" name="name"/>               
                    </div>
                </div>
                <br/>
                <div>
                    <div>
                        <label for="manager_id">Manager ID:</label>  
                    </div>
                    <div>
                        <input type="text" id="manager_id" name="manager_id"/>               
                    </div>
                </div>
                <br/>
                <div>
                    <div>
                        <label for="location_id">Location ID:</label>  
                    </div>
                    <div>
                        <input type="text" id="location_id" name="location_id"/>               
                    </div>
                </div>
                <br/>
                <button type="submit">
                    Post
                </button>  
            </form>
        </div>
        <div style="border: solid 1px; padding: 20px; margin-left: 20px; float: left">
            <h3>Put</h3>
            <form action="modify/put" method="post">
                <div>
                    <div>
                        <label for="id">Id:</label>  
                    </div>
                    <div>
                        <input type="text" id="id" name="id"/>               
                    </div>
                </div>

                <br/>
                <div>
                    <div>
                        <label for="name">Name:</label>  
                    </div>
                    <div>
                        <input type="text" id="name" name="name"/>               
                    </div>
                </div>
                <br/>
                <div>
                    <div>
                        <label for="manager_id">Manager ID:</label>  
                    </div>
                    <div>
                        <input type="text" id="manager_id" name="manager_id"/>               
                    </div>
                </div>
                <br/>
                <div>
                    <div>
                        <label for="location_id">Location ID:</label>  
                    </div>
                    <div>
                        <input type="text" id="location_id" name="location_id"/>               
                    </div>
                </div>
                <br/>
                <button type="submit">
                    Put
                </button>  
            </form>
        </div>
          <div style="border: solid 1px; padding: 20px; margin-left: 20px; float: left">
            <h3>Delete</h3>
            <form action="modify/delete" method="post">
                <div>
                    <div>
                        <label for="id">Id:</label>  
                    </div>
                    <div>
                        <input type="text" id="id" name="id"/>               
                    </div>
                </div>
                <br/>
                <button type="submit">
                    Delete
                </button>  
            </form>
        </div>
    </body>
</html>