<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head th:replace="layout/head :: head_content">...
    </head>
    <body class="bg-primary">
        <!--Content-->

        <div class="_wrapper">

            <div class="container">
                <div class="row h-100">
                    <div class="col-md-6 mx-auto my-auto">
                        <div class="card p-4 login-card">
                            <div class="card-body">
                                <div class="text-center mb-4">
                                    <h2 class="app-title">Bootcamp App</h2>
                                    <h5 class="secondary-title">Sign in with your account</h5>
                                </div>

                                <form class="needs-validation" action="#" th:action="@{/auth}" method="POST" novalidate>
                                    <div class="form-group">
                                        <label for="username" class="required">Username</label>
                                        <input type="text" class ="form-control" name="username" id="username" placeholder="Enter username or email" required>
                                        <div class="invalid-feedback">Please enter your username or email</div>
                                    </div>

                                    <div class="form-group">
                                        <label for="password" class="required">Password</label>
                                        <input type="password" class ="form-control" name="password" id="password" placeholder="Enter password" required>
                                        <div class="invalid-feedback">Please enter your password</div>
                                    </div>

                                    <div class="form-group">
                                        <button class="btn btn-primary w-100" type="submit">Submit</button>
                                    </div>
                                    <div class="text-right">
                                        <a class="btn-link text-primary">forgot password?</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!--Footer-->

        

    </body>
</html>
